language: node_js
before_install:
  - npm install -g npm@latest
node_js:
  - node
  - lts/*
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
  on:
    branch: next
